<%- include('Partials/header.ejs')  %>

    <title> Categorias de jogos</title>

</head>

<body>
    
    <div class="container">

        <%- include('partials/menu.ejs')  %>

    </div>

</body>

<%- include('Partials/Footer.ejs')  %>